include ../_partials/_content_upload.slim
include ../_partials/_content_overview.slim
include ../_partials/_content_balance.slim
include ../_partials/_content_color.slim
include ../_partials/_content_balance_error.slim
include ../_partials/_content_color_error.slim
include ../_partials/onboarding/_onboarding_modal_learn.slim
