include ../_partials/_content_upload.slim
include ../_partials/_content_overview.slim
include ../_partials/_content_balance.slim
include ../_partials/_content_color.slim
include ../_partials/onboarding/_onboarding_modal_bug.slim
include ../_partials/onboarding/_onboarding_modal_feature.slim
include ../_partials/onboarding/_onboarding_modal_help.slim
include ../_partials/onboarding/_onboarding_modal_learn.slim
