// update the version number as needed
script src="/__/firebase/5.7.1/firebase-app.js"

// include only the Firebase features as you need
script src="/__/firebase/5.7.1/firebase-auth.js"
script src="/__/firebase/5.7.1/firebase-database.js"
script src="/__/firebase/5.7.1/firebase-messaging.js"
script src="/__/firebase/5.7.1/firebase-storage.js"
script src="/__/firebase/5.7.1/firebase-firestore.js"

// initialize the SDK after all desired features are loaded
script src="/__/firebase/init.js"
