
script src="bower_components/jquery/dist/jquery.min.js"
script src="bower_components/popper.js/dist/umd/popper.min.js"
script src="bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js"
script src="bower_components/slick-carousel/slick/slick.min.js"

// Bootstrap javascript
// Uncomment files with functionality you want
script src="bower_components/bootstrap/js/dist/util.js"
script src="bower_components/bootstrap/js/dist/alert.js"
script src="bower_components/bootstrap/js/dist/button.js"
script src="bower_components/bootstrap/js/dist/carousel.js"
script src="bower_components/bootstrap/js/dist/collapse.js"
script src="bower_components/bootstrap/js/dist/dropdown.js"
script src="bower_components/bootstrap/js/dist/modal.js"
script src="bower_components/bootstrap/js/dist/tab.js"
script src="bower_components/bootstrap/js/dist/tooltip.js"
script src="bower_components/bootstrap/js/dist/popover.js"

- if defined? extra_js_files
  - extra_js_files.each do |js_file|
    script src="#{js_file}"


script src="js/stackBlur.js?version=#{template_version}"
script src="js/balance.js?version=#{template_version}"
script src="js/color.js?version=#{template_version}"

script src="js/main.js?version=#{template_version}"
javascript:
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '#{google_analytics_id}', 'auto');
  ga('send', 'pageview');

/! Google App Engine implementation
script src="js/engine.js"

javascript:
	//Call modal on start
	$('.modal-learn').modal('show');


//FilePond Configuration
script src="bower_components/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"
script src="bower_components/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"
script src="bower_components/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"
script src="bower_components/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"
script src="bower_components/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.js"
script src="bower_components/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"
script src="bower_components/filepond/dist/filepond.js"


javascript:
		// Set heatmap canvas size with event listener
		window.addEventListener("resize", resizeHeatmap);

		function resizeHeatmap(){
			if(document.getElementById('balance-image').getElementsByTagName('img')[0]){
					var image_element = document.getElementById('balance-image').getElementsByTagName('img')[0];
					var image_width = image_element.clientWidth;
					var image_height = image_element.clientHeight;
					var size_relation = image_height / image_width;
					var min_relation = 0.5;
					var max_relation = 0.7;
					if(size_relation <= max_relation && size_relation >= min_relation){
							var window_limit = 1350;
							var window_width = window.innerWidth;
							var heatmap_element = document.getElementById('heatmap');
							if(window_limit <= window_width){
									heatmap_element.style.width = "100%";
									heatmap_element.style.height = "auto";
							}
							else{
									heatmap_element.style.width = "auto";
									heatmap_element.style.height = "100%";

							}
					}
			}
		}

		// Set Settings
		var vision = 0;

		function visionCheck(){
			if (vision == 0){
		    vision = 1;
				document.getElementsByClassName('checkbox-vision')[0].checked = true;
				document.getElementsByClassName('checkbox-vision')[1].checked = true;
		  } else {
		     vision = 0;
				 document.getElementsByClassName('checkbox-vision')[0].checked = false;
				 document.getElementsByClassName('checkbox-vision')[1].checked = false;
		  }
			console.log(vision);
		}


javascript:

	FilePond.registerPlugin(
		FilePondPluginImageExifOrientation,
		FilePondPluginImageResize,
		FilePondPluginImageTransform,
		FilePondPluginImagePreview,
    FilePondPluginFileValidateType,
		FilePondPluginFileValidateSize,
	);

	const ponds = FilePond.parse(document.body);

	// https://aiart-2ddfd.appspot.com
	FilePond.setOptions({
    server: {
        process: {
            url: `http://127.0.0.1:8080/submit`,
            method: 'POST',
						ondata: (formData) => {
                formData.append('vision', vision);
                return formData;
            },
            onload: (response) => {
								// Check which filepond has a file
								it = 0;
								while(ponds[it++].getFile() == null);
								--it;
								file = ponds[it].getFile().file;
								processImage(JSON.parse(response));
								showImage(file,'color-image');
								showImage(file,'balance-image');

								// Clear filePond for a new upload
								ponds[0].removeFile();
								ponds[1].removeFile();
								ponds[2].removeFile();
            }
        }
    },
		allowMultiple: false,
		dropOnPage: true,
		dropOnElement: false,
		dropValidation: true,
		stylePanelLayout: 'integrated',
		styleLoadIndicatorPosition: 'center',
		styleProgressIndicatorPosition: 'center',
		acceptedFileTypes: ['image/png', 'image/jpg', 'image/jpeg', 'image/gif'],
		allowImageExifOrientation: true,
		allowImageResize: true,
		imageResizeMode: 'contain',
		imageResizeUpscale: true,
		imageResizeTargetWidth: 800,
		allowImagePreview: true,
		imagePreviewMaxHeight: 256,
		imageTransformOutputQuality: 100,
		allowFileSizeValidation: true,
		maxFileSize: '20MB'
	});

	ponds[0].imagePreviewMaxHeight = 100;
	ponds[1].imagePreviewMaxHeight = 100;

	// Example Images

	function exampleProcess(src){
		if(window.getComputedStyle(document.getElementById('upload-wrapper')).display == 'none'){
			if (window.getComputedStyle(document.getElementsByClassName('menu-mobile')[0]).display == 'none') {
				ponds[1].addFile(src);
			}else{
				ponds[0].addFile(src);
			}
		}else{
			ponds[2].addFile(src);
		}
	}
