// color MAIN

.color-index {
	display: flex;
	align-items: flex-start;

	.color-content-w {
		flex: 1;
		background-color: #fff;
		box-shadow: $element-box-shadow;
		border-radius: $global-border-radius;
		display: flex;
		position: relative;
		.color-content {
			flex: 1;
			padding: 10px 30px;
			padding-right: 60px;
			position: relative;
			.color-content-header {
				display: flex;
				margin-bottom: 30px;
				padding: 10px 0px;
				h3, h4 {
					margin-bottom: 0px;
				}
			}
		}
		.color-header {
			margin-bottom: 40px;
		}

		.color-image-wrapper{
			position: relative;
			width: 100%;
			padding: 30px;
			align-items: center;
	    justify-content: center;
	    display: flex;

			.color-image{
				max-width: 100%;
				max-height: 500px;
				position: relative;
				z-index: 0;
				img{
					max-height: 500px;
					max-width: 100%;
					border-radius: 25px;
				}
			}

			#color-image-samples{
				height: 100%;
				width: 100%;
				position: absolute;
				opacity: 1;
				padding: 30px;

				svg{
					display: block;
					height: 100%;
					width: 100%;

					.tooltip-hex{
						position: absolute;
						-webkit-transition: all 0.3s;
		 				transition: all 0.3s;
						text-align: center;
						opacity: 0;

						rect{
							fill: rgba(0,0,0, 0.8);
						}
						text{
							font-size: 14px;
							font-weight: 600;
							fill: #fff;
						}
					}

					circle:hover + g.tooltip-hex {
						opacity:1;
					}
					circle:hover{
						cursor: pointer;
					}
				}

				/*svg:hover{
					.tooltip-hex{
						opacity:1;
					}
				}*/
	    }

		}


		.color-thread {

		}
		.color-control {
			//background-color: #F6F7F9;
			//background: linear-gradient(to bottom, #eff1f7, lighten(#eff1f7, 3%));
			padding: 30px 20px;
			border-radius: $global-border-radius;
			flex: 0 0 420px;
      display: flex;
			position: relative;
      .filter-side{
        width: 100%;
      }
      .filters-header {
        display: flex;
        padding: 16px 20px;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0,0,0,0.05);
        align-items: center;
        h4 {
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: $font-size-base * 1.2;
          margin-bottom: 0px;
        }
        .reset-filters {
          color: #BC8F8F;
          display: flex;
          align-items: center;
          i {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            font-size: 10px;
          }
          span {
            display: inline-block;
            vertical-align: middle;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: $font-size-base * 0.7;
          }
        }
      }

      .filter-w {
        position: relative;
        .filter-toggle {
          position: absolute;
          top: 20px;
          right: 20px;
          display: inline-block;
          padding: 4px 5px;
          border-radius: 4px;
          background-color: rgba(0,0,0,0.07);
          color: rgba(0,0,0,0.4);
          font-size: 10px;
          line-height: 1;
          vertical-align: middle;
          cursor: pointer;
          z-index: 3;
          i {
            display: inline-block;
            vertical-align: middle;
          }
          &:hover {
            background-color: #111;
            color: #fff;
          }
        }

        iframe {
          max-width: 100%;
        }


        &.no-padding {
          .filter-body {
            padding-left: 0px;
            padding-right: 0px;
          }
        }
        &.collapsed {
          .filter-body {
            display: none;
          }
        }
      }
      .filter-header {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: $font-size-base * 0.9;
        position: relative;
        padding: 40px;
        padding-bottom: 20px;
        padding-top: 20px;
        margin: 0px;
        &:before {
          content: "";
          background-color: $primary;
          width: 7px;
          height: 7px;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
        }
      }
      .filter-body {
        padding: 10px 40px 30px 40px;
      }
      .filter-w + .filter-w {
        border-top: 1px solid rgba(0,0,0,0.05);
      }
      .select2 {
        display: block;
        width: 100%;
        &.select2-container--default .select2-selection--multiple {
          background-color: transparent;
          border-color: transparent;
        }
        &.select2-container--default .select2-selection--multiple .select2-selection__choice {
          border: 2px solid $primary;
          border-radius: 16px;
          font-size: $font-size-base * 0.7;
          text-transform: uppercase;
          letter-spacing: 2px;
          background-color: transparent;
          font-weight: $font-weight-bold;
          padding: 3px 8px;
          color: $primary;
          margin-right: 7px;
        }
        &.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
          color: $primary;
        }
      }
		}
	}
}

.filter-w{
  .colorwheel-container {
    width: 100%;
    display: inline-block;
    text-align: center;
		margin-top: 0;

    #colorwheel{
      background: url("../img/color_wheel_05x.png") no-repeat center;
			background-size: 100%;
      height: 270px;
      width: 270px;
			margin: 0 auto;
			margin-bottom: 20px;
      position: relative;

			#color-template{
				background-size: 100%;
				background-repeat: no-repeat;
				background-position: center;
	      height: 270px;
	      width: 270px;
	      position: absolute;
				top: 0;
				left: 0;
				opacity: 0.7;
			}

      button.colorsample-container{
        position: absolute;
				border-style: none;
				background: none;
				-webkit-transition: all 1s;
 				transition: all 1s;

				.colorsample{
					width: 30px;
					height: 30px;
					border-radius: 50%;
					border-color: white;
					border-style: solid;
					border-width: 2px;
					box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.4);
					background-color: rgba(1,1,1,0);
					position: absolute;
					left: 0;
					top: 0;
					-webkit-transition: all 1s;
	 				transition: all 1s;
					-webkit-transition: width 0.3s, height 0.3s, border-width 0.3s;
	 				transition: width 0.3s, height 0.3s, border-width 0.3s;
				}
      }


			.tooltip-hex{
				position: absolute;
				-webkit-transition: all 0.3s;
 				transition: all 0.3s;
				font-size: 12px;
				font-weight: 400;
				max-width: 200px;
				padding: 0.25rem 0.5rem;
				color: #fff;
				text-align: center;
				background-color: rgba(0,0,0, 0.8);
				border-radius: 6px;
				margin-left: -7%;
				margin-top: -30px;
				opacity: 0;
			}

    }

		#colorwheel:hover{
			.tooltip-hex{
				opacity: 1;
			}
		}

		#palette {
			height: 202px;
			width: 80px;
			display: inline-block;
			margin-top: 20px;

			.color-row {
				height: 35px;
				width: 110px;
				margin-bottom: 20px;
				border-radius: 50%;
				border-style: none;
				position: relative;

				.color-row-sample {
					height: 35px;
					width: 35px;
					border-radius: 50%;
					border-style: none;
					display: inline-block;
				}
			}
		}

  }

  .button-div{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
		margin-top: 32px;

    button{
			margin: 0;
			font-size: 18px;
			padding: 10px 20px;
    }
  }
}

.color-main-anim{
	animation-name: fadeUp;
	animation-duration: 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
}

.color-main-anim-hide{
	animation-name: fadeDown;
	animation-duration: 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
}

.colorwheel-anim-show{
	animation-name: jumpStraightRotate;
	animation-duration: 0.8s;
	animation-delay: 0s;
	animation-fill-mode: both;
}

.colorwheel-anim-hide{
	animation-name: hideStraightRotate;
	animation-duration: 0.2s;
	animation-delay: 0s;
	animation-fill-mode: both;
}

@keyframes colorsampleImageGrow {
    from {
        r: 20px;
    }
    to {
        r: 28px;
    }
}

@keyframes colorsampleImageShrink {
    from {
        r: 28px;
    }
    to {
        r: 20px;
    }
}

.colorsample-clicked{
	animation-name: colorsampleClicked;
	animation-duration: 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
}

.colorsample-image-grow {
	animation-name: colorsampleImageGrow;
	animation-duration: 0.4s;
	animation-delay: 0s;
	animation-fill-mode: both;
}

.colorsample-image-shrink {
	animation-name: colorsampleImageShrink;
	animation-duration: 0.4s;
	animation-delay: 0s;
	animation-fill-mode: both;
}


.tooltip{
  font-size: 12px;
  .arrow{
    opacity: 0;
  }

}
