/*
 #4. Examples
*/

#examples-wrapper{
	margin-top: 50px;

	.element-box-tp{
		display: flex;
		overflow: auto;
	}
	.example {
	  align-items: center;
		cursor: copy;
	  padding-bottom: 1rem;
	  margin-bottom: 1rem;
		margin: 15px;
		padding: 10px;
	  .example-box {
	    height: 150px;
	    width: 150px;
	    text-align: center;
	    border-radius: $global-border-radius;
	    background-color: #fff;
	    box-shadow: $element-box-shadow;
	    text-decoration: none;
	    color: $body-color;
	    transition: all 0.25s ease;
	    display: block;
			overflow: hidden;
	    &:hover {
	      transform: translateY(-5px) scale(1.02);
	      box-shadow: $element-box-shadow-hover;
	    }
	    &.faded {
	      background-color: #E9ECF3;
	      border: 1px dashed #ACBEDA;
	      box-shadow: none;
	    }
	  }
	  .example-image-w {
	    display: inline-block;
	    overflow: hidden;
	    img {
					height: 200px;
					width: auto;
				  margin-top: -30px;
    			margin-left: -30px;
	    }
	  }

	  .example-meta {
	    padding-top: 20px;

	    ul {
	      list-style: none;
	      @include text-small-caps();
	      @include text-faded();
				text-transform: capitalize;
	      margin: 0px;
	      padding: 0px;
	      li {
	        margin-bottom: 3px;
	      }
	      strong {
	        color: $body-color;
	        margin-left: 5px;
	        a {
	          color: $body-color;
	          text-decoration: none;
	          border-bottom: 1px solid $body-color;
	        }
	      }
	    }
	  }
	}

}
