#upload-wrapper{
	padding-bottom: 0;

	.element-box{
		height: 500px;
	}
}

// FilePond
.filepond--root {
    min-height: 250px;
		.filepond--image-preview-wrapper{
			border-radius: 10px !important;
		}

		.filepond--image-preview-overlay{
			opacity: 0.1;
		}

		.filepond--image-preview-overlay-idle{
			display: none;
		}

		.filepond--image-preview{
			background-color: rgba(0,0,0,0);
		}

		.filepond--file{
			color: #4f4f4f;
		}
}

.menu-w {
	.filepond--root {
	    min-height: 100px;

			.filepond--file{
				color: #ddd;
			}
			.filepond--image-preview-wrapper{
				border-radius: 0px !important;
			}
	}
	.filepond--drop-label{
	    color: #ddd;
	}

}

.menu-mobile {
	.filepond--root {
	    min-height: 100px;
			.filepond--file{
				color: #ddd;
			}
			.filepond--image-preview-wrapper{
				border-radius: 0px !important;
			}
	}
	.filepond--drop-label{
	    color: #ddd;
	}

}

.menu-w ul.main-menu > li.uploadicon{
  display: none;
}


.upload-main-anim-hide{
	animation-name: fadeDown;
	animation-duration: 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
}
