

.text-left{
	width: 50%;
}
.text-right{
	width: 50%;
}

// Scroll-up button
#scroll-up{
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: #293145; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 50%; /* Rounded corners */
	font-size: 18px; /* Increase font size */
}
// Message info for balance and color

.message {
  margin-bottom: 20px;
  margin-top: 20px;
  height: 100px;
  .message-content-upload{
    padding: 15px 35px;
    width: 100%;
    display: inline-block;
    margin-bottom: -20px;
    border-radius: 10px;
    text-align: left;
    animation-name: fadeUp;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
    b{
      font-weight: 700;
    }
  }

  .message-content-balance {
    transition: all 1s;
    padding: 15px 35px;
    width: 100%;
    display: inline-block;
    margin-bottom: -20px;
    border-radius: 10px;
    text-align: left;
    animation-name: fadeUp;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-fill-mode: both;
    b{
      font-weight: 700;
    }
  }
  .message-content-color {
    transition: all 1s;
    padding: 15px 35px;
    width: 100%;
    display: inline-block;
    margin-bottom: -20px;
    border-radius: 10px;
    text-align: left;
    animation-name: fadeUp;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-fill-mode: both;
    b{
      font-weight: 700;
    }
  }
  .message-warning{
    transition: all 0.5s;
    background-color: #fff5e7;
    color: #594939;
  }
  .message-success{
    transition: all 0.5s;
    background-color: #e8f6ff;
    color: #2A4E7F;
  }
}

.center-image{
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

// MENU LOGO

.logo-element {
  width: 40px;
  height: 54px;
  border-radius: 15px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  margin-top: 10px;
  transition: all 0.3s ease;
  img {
    width: 75px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
  }
}

.logo-label {
  display: inline-block;
  width: 100px;
  height: 36px;
  vertical-align: middle;
  position: relative;
  margin-left: 20px;
  transition: all 0.3s ease;
  img {
    width: 85px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
  }
}

.logo:hover {
  .logo-element {
    transform: translateX(7px);
  }
  .logo-label {
    transform: translateX(3px);
  }
}

.menu-w .logo-w, .top-bar .logo-w {
  text-align: center;
  padding: 24px 20px;
  a {
    display: inline-block;
  }
  .logo {
    display: inline-block;
  }
  span {
    vertical-align: middle;
    display: inline-block;
    color: $headings-color;
    margin-left: 1rem;
  }
}

// MOBILE LOGO
.mm-logo {
  vertical-align: middle;
  text-align: left;
  text-decoration: none;
  img {
    width: 40px;
    display: inline-block;
  }
  span {
    display: inline-block;
    color: $body-color;
    margin-left: 1rem;
  }
  &:hover {
    text-decoration: none;
  }
}

// DROPZONE
.dropzone{
	border: 2px dashed #7789b7;
}
.dropzone-menu{
	border: 2px dashed #4b5671;
}

// TRANSITIONS
.element-wrapper{
  transition: all 1s linear;
  display: block;
}

.hidden{
  display: none;
  opacity: 0;
}

// COPYRIGHT

.copyright{
  font-size: 15px;
  text-align: center;
  color: white;
  padding: 20px;
  opacity: 0.8;
}
